#results{
  marker-fill: #FF5C00;
  marker-line-color: #FFF;
  marker-line-width: 2;
  marker-line-opacity: 1;
  marker-opacity: 0.9;
  marker-placement: point;
  marker-type: ellipse;
  marker-allow-overlap: true;
  marker-clip: false;
  marker-multi-policy: largest;
}
#results [ commitcount <= 3] {
   marker-width: 25.0;
}
#results [ commitcount <= 3] {
   marker-width: 23.3;
}
#results [ commitcount <= 3] {
   marker-width: 21.7;
}
#results [ commitcount <= 3] {
   marker-width: 20.0;
}
#results [ commitcount <= 3] {
   marker-width: 18.3;
}
#results [ commitcount <= 3] {
   marker-width: 16.7;
}
#results [ commitcount <= 1] {
   marker-width: 15.0;
}
#results [ commitcount <= 1] {
   marker-width: 13.3;
}
#results [ commitcount <= 1] {
   marker-width: 11.7;
}
#results [ commitcount <= 1] {
   marker-width: 10.0;
}

#results [ greenfactoraverage <= 10] {
   marker-fill: #FF0000;
}
#results [ greenfactoraverage <= 8] {
   marker-fill: #FF8800;
}
#results [ greenfactoraverage <= 6] {
   marker-fill: #FFFF00;
}
#results [ greenfactoraverage <= 4] {
   marker-fill: #88FF00;
}
#results [ greenfactoraverage <= 2] {
   marker-fill: #00FF00;
}
